@model NotesApp.WebClient.Models.NoteCreateModel

@{ ViewData["Title"] = "Create"; }

<h1>Create Note</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" id="title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" id="description"></span>
            </div>
            <input type="text" asp-for="Content" id="content-input" style="display:none;" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" onclick="bindContent()" />
            </div>
        </form>
    </div>
    <div class="col-md">
        <div id="editor">
            <p>Hello World!</p>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<script>var editor = new Quill('#editor', {
        modules: {
            toolbar: [
                [{ header: [1, 2, 3, 4, 5, 6, false] }],
                ['bold', 'italic', 'underline'],
                ['image', 'code-block'],
                [{ list: 'ordered' }, { list: 'bullet' }]
            ]
        },
        theme: 'snow'
    });

    function bindContent() {
        document.getElementById('content-input').value = document.getElementsByClassName('ql-editor')[0].innerHTML;
    }</script>